/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
 
* {
    box-sizing: border-box;
}
 
 
 
 
 
/* Set styles that can be used across entire page here  */
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
 
 
/* Put all the heads here that can be styled across page */
h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}
 
/* All paragraphs that can be styled across page here */
p {
    line-height: 1.4;
}
 
/* Set the Container Width and Margin */
.container {
    width: 800px;
    margin: 0 auto;
}
 
/* Style the header (use flexbox if you can) */
header {
    display: flex;
    flex-flow: row, wrap;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 30px;
}
 
/* style the top img (again, best to use flexbox) */
.header img {
    display: flex;
 
}
 
/* Style the nav (This one was already done from previous submission) */
nav {
    display: flex;
    justify-content: space-around;
    width: 600px;
}
 
 
 
/* Again, c/p this */
.navigation a {
    display: flex;
    margin-top: 23px;
    text-decoration-line: none;
    color: black;
}
 
/* set the image on top (from index.html) here, and give it a margin */
.top-img {
    margin-top: 20px;
    margin-bottom: 20px;
}
 
/* Content spacing (Lot easier after you watch a couple vids again and look at the docs) */
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}
 
 
/* Adjust width, padding for placement */
.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}
 
/* Get that dashed border in there */
.middle {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}
 
/* Get that header right */
.middle h2 {
    padding: 0 2%;
    margin-bottom: 0;
}
 
/* Set up the box class so you can use flex-box correctly */
.middle .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 
/* style the first box */
.middle .boxes .box1 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* and the second */
.middle .boxes .box2 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    background-color: gold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* and the third */
.middle .boxes .box3 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* and the fourth */
.middle .boxes .box4 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    background-color: coral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* and the fifth */
.middle .boxes .box5 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    background-color: crimson;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* and the sixth */
.middle .boxes .box6 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    background-color: forestgreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* and the seventh */
.middle .boxes .box7 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    background-color: darkorchid;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* and the eighth */
.middle .boxes .box8 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    background-color: hotpink;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* and the ninth */
.middle .boxes .box9 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    background-color: indigo;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* and the tenth (then research a better way to do this) */
.middle .boxes .box10 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    background-color: dodgerblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* content of the bottom here */
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}
 
/* bottom text-container */
.bottom-content .text-container {
    padding-right: 4%;
}
 
/* last-child of the bottom text container */
.bottom-content .text-container:last-child {
    padding-right: 0;
}
 
/* footer here */
footer {
    width: 100%;
    background: black;
    margin-bottom: 20px;
}
 
/* footer nav here */
footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}
 
/* anchors on the footer nav here */
footer nav a {
    color: white;
    text-decoration: none;
}
 
/* nav styled automatically */
 
/* about section image margin */
.about-img {
    margin-bottom: 20px;
}
 
/* about intro here */
.about-introduction {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px dashed black;
}
 
/* middle box here */
.about-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
/* middle header here */
.about-middle h2 {
    margin-top: 10px;
}
 
/* middle paragraphs here */
.about-middle p {
    width: 400px;
    margin: 12px 0 12px 0;
}
 
/* middle buttons get styled here */
.about-middle button {
    width: 125px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
 
/* strategy style here */
.strategy {
    border-bottom: 1px dashed black;
    width: 372px;
    padding-bottom: 10px;
}
 
/* how style here */
.how {
    border-bottom: 1px dashed black;
    width: 372px;
}
 
/* places style here */
.places {
    border-bottom: 1px dashed black;
    margin-top: 50px;
    width: 372px;
    padding-bottom: 10px;
}
 
/* collaboration style here */
.collaboration {
    border-bottom: 1px dashed black;
    margin-top: 50px;
    width: 372px;
}
 
/* last style! this one was tricky, couldn't get flex-box to work, so I went with block instead */
.about-bottom {
    display: block;
}
 
/* set margin of last header */
.about-bottom h2 {
    margin-top: 30px;
}
 
/* Set margin of last paragraph */
.about-bottom p {
    margin-bottom: 40px;
}

